/* Reset CSS */
/* Define uma caixa de modelo de borda de caixa para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do corpo */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte padrão */
    background: radial-gradient(circle, #ffecd2, #fcb69f); /* Fundo gradiente radial */
}

/* Estilos do cabeçalho */
header {
    background-color: #007bff; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto do cabeçalho */
    padding: 20px 0; /* Espaçamento interno do cabeçalho */
    text-align: center; /* Alinhamento do texto centralizado */
}

/* Estilos do título */
h1 {
    font-size: 28px; /* Tamanho da fonte do título */
}

/* Estilos da navegação */
nav {
    background-color: #f8f9fa; /* Cor de fundo da navegação */
    padding: 10px 0; /* Espaçamento interno da navegação */
    text-align: center; /* Alinhamento do texto centralizado */
}

/* Estilos da lista de navegação */
nav ul {
    list-style-type: none; /* Remover marcadores de lista */
}

/* Estilos dos itens da lista de navegação */
nav ul li {
    display: inline; /* Exibição em linha para os itens da lista */
    margin: 0 10px; /* Margem entre os itens da lista */
}

/* Estilos dos links da lista de navegação */
nav ul li a {
    color: #333; /* Cor do texto dos links */
    text-decoration: none; /* Remover sublinhado dos links */
    padding: 10px 20px; /* Espaçamento interno dos links */
    border-radius: 5px; /* Borda arredondada dos links */
}

/* Estilos de hover dos links da lista de navegação */
nav ul li a:hover {
    background-color: #007bff; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}

/* Estilos do rodapé */
footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    text-align: center; /* Alinhamento do texto centralizado */
    padding: 10px 0; /* Espaçamento interno do rodapé */
    position: fixed; /* Posição fixa na parte inferior */
    bottom: 0; /* Fixar no fundo */
    left: 0; /* Alinhar à esquerda */
    width: 100%; /* Largura total */
}
